{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe App</title>
</head>

<body>
    <header>
        <!-- Navigation bar -->
        <nav>
            <ul class="navbar">
                <li class="nav-item"><a href="{% url 'Recipes:home' %}" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="{% url 'Recipes:list' %}" class="nav-link">Browse Recipes</a></li>
                <li class="nav-item"><a href="{% url 'Recipes:search' %}" class="nav-link">Search Recipes</a></li>

                {% if user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'logout' %}"
                        class="nav-link">Logout</a></li>
                {% else %}
                <li class="nav-item"><a href="{% url 'login' %}" class="login_btn">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer">
    </footer>
</body>

</html>